<div class="search_user">
  <%= form_tag '/friends', method: "get" do |f| %>
    <%= label_tag :search %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", name: nil %>
  <% end %>
</div>

<div class="results">
  <div class="container">
    <% if @no_user == 0 %>
      <% @users.each do |user| %>
        <% if user.id != current_user.id %>
          <div class="row">
            <p><%= user.email %></p>
            <% if !is_friend?(user) %>
	      <% if is_pending_request?(user) %>
		<p>Pending Request</p>
              <% else %>
	        <%= form_tag '/friends', method: :post do %>
	          <%= text_field_tag :friend, user.id, type: :hidden %>
	          <%= submit_tag "Send Request" %>
                <% end %>
	      <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% elsif @no_user == 1%>
      <div class="note">
        <p>No results found.</p>
      </div>
    <% else %>
      <div class="note">
        <p>You have no friends at the moment. Find your friends now!</p>
      </div>
    <% end %>
  </div>
</div>
