<div>
<% @notifications.each do |n|%>
 <p><%= User.find(n.sender_user_id).email + " wants to invite you as a friend!"%></p>
 <p><%= "Message: " + n.message%></p>
 <%= form_tag("/friend", method: "patch") do%>
    <%=hidden_field_tag(:sender_user_id, n.sender_user_id) %>
    <%=text_field_tag :receiver_user_id, current_user.id ,type: :hidden %>
    <%=text_field_tag :status, 1,  type: :hidden %>
 <%= submit_tag("Accept") %>
 <%end%>
  <%= form_tag '/friend', method: :patch do%>
    <%=text_field_tag :sender_user_id, n.sender_user_id ,type: :hidden %>
    <%=text_field_tag :receiver_user_id, current_user.id ,type: :hidden %>
    <%=text_field_tag :status, 0,  type: :hidden %>
 <%= submit_tag("Decline") %>
 <%end%>
<%end%>
</div>
