<div class="container" id="listing">
<table class = "table table-striped" id="notification">
  <tbody>
  <% @notifications.each do |n|%>
  <tr><td><%= User.find(n.sender_user_id).email + " wants to invite you as a friend!"%></td>
  <% if n.status == 0 %>
  <td>
   <%= form_tag("/friends", method: "patch", id: "accept_invitation") do%>
    <%=hidden_field_tag(:sender_user_id, n.sender_user_id) %>
    <%=text_field_tag :receiver_user_id, current_user.id ,type: :hidden %>
    <%= text_field_tag :n_id, n.id, type: :hidden %>
   <%end%>
    <button class = "btn btn-xs btn-primary" onclick = "accept_invitation()">Accept</button>
    </td>
    <td>
      <%= form_tag(delete_friendship_path(n.sender_user_id), method: "delete", id: "decline_invitation") do %>
      <%= text_field_tag :n_id, n.id, type: :hidden %>
    <% end %>
    <button class = "btn btn-xs btn-primary" onclick = "decline_invitation()">Decline</button>
    </td>
    <% else %>
    <td></td>
    <td></td>
    <%end%>
    </tr>
<% end %>
  </tbody>
</table>
</div>
<script>
    function accept_invitation() {
        var form1 = $("#accept_invitation");
        form1.submit();
    }
    function decline_invitation() {
        var form2 = $("#decline_invitation");
        form2.submit();
    }
</script>