<div>
  <%= form_tag '/groups', method: :post, id: "create_group" do %>
    <% if @friends.count > 0 %>
      <%= label_tag(:group_name, "Create a group name:") %>
      <%= text_field_tag(:group_name) %>
      <% @friends.each do |friend| %>
        <%= check_box_tag(friend.id) %>
        <%= label_tag(friend.id, friend.email) %>
      <% end %>
      <%= submit_tag("Create Group") %>
    <% end %>
  <% end %>
</div>
