<div class="planform">
    <table align="center">
      <form id="new_adventure_form" action="/adventures/edit" method="post">
        <input type="hidden" value="<%=@location%>" name="pre_location">
        <input type="hidden" value="<%=@num_people%>" name="pre_num_people">
        <input type="hidden" value="<%=@num_day%>" name="pre_num_day">
        <input type="hidden" value="<%=@plan%>" name="pre_plan">
        <tr>
          <td class="description"><h4>Location</h4></td>
          <td>
            <input type="text" class="form-control" placeholder="1~20 characters" id="location" name="location" maxlength="20" value="<%=@location%>"/>
          </td>
          </tr>
          <tr>
            <td class="description"><h4>Number of People</h4></td>
            <td>
              <input type="text" class="form-control" placeholder="1~99" id="num_people" name="num_people" maxlength="2" value="<%=@num_people%>"/>
            </td>
          </tr>
          <tr>
            <td class="description"><h4>Number of Days</h4></td>
            <td>
              <input type="text" class="form-control" placeholder="1~99" id="num_day" name="num_day" maxlength="2" value="<%=@num_day%>"/>
            </td>
          </tr>
          <tr>
            <td class="description"><h4>Plan</h4></td>
            <td>
              <textarea id="plan" name="plan" class="form-control" placeholder="Please enter your plan (400characters)" rows="10" cols="40"><%=@plan%></textarea>
            </td>
          </tr>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      </form>
        <tr>
          <td><a href="/home" class="btn btn-default">Cancel</a></td>
          <td><button onclick="check_form()" class="btn btn-default">Submit</button></td>
        </tr>

    </table>
</div>

<script>
    function check_form() {
        var form = $("#new_adventure_form");
        if (check_valid_input()) {
            form.submit();
        }
    }

    function check_valid_input() {
        var isValid = true;
        var location = $("#location");
        var num_people = $("#num_people");
        var num_day = $("#num_day");
        var plan = $("#plan");

        //check location
        if (location === undefined || location.val().length === 0) {
            warning(location);
            isValid = false;
        }
        else {
            remove_warning(location);
        }

        //check plan
        if (plan === undefined || plan.val().length === 0) {
            warning(plan);
            isValid = false;
        }
        else {
            remove_warning(plan);
        }

        //check num_people
        if (num_people === undefined || num_people.val()<1 || num_people.val()>99) {
            warning(num_people);
            isValid = false;
        }
        else {
            remove_warning(num_people);
        }

        //check num_day
        if (num_day === undefined || num_day.val()<1 || num_day.val()>99) {
            warning(num_day);
            isValid = false;
        }
        else {
            remove_warning(num_day);
        }
        return isValid;
    }

    function warning(input) {
        input.addClass('error');
    }

    function remove_warning(input) {
        input.removeClass('error');
    }

</script>