<div class="planresult">
  <% if (!@adventures.empty?) %>
      <% count=1%>
      <% @adventures.each do |adventure| %>
          <table align="center">
            <tr ><h2>Plan <%= count%></h2></tr>
              <tr>
                <td class="description"><h4>Location</h4></td>
                <td text-align="left">
                  <p><%= adventure.location%></p>
                </td>
              </tr>
              <tr>
                <td class="description"><h4>Number of People</h4></td>
                <td text-align="left">
                  <p><%= adventure.num_people%></p>
                </td>
              </tr>
              <tr>
                <td class="description"><h4>Number of Days</h4></td>
                <td text-align="left">
                  <p><%= adventure.num_day%></p>
                </td>
              </tr>
              <tr>
                <td class="description"><h4>Plan</h4></td>
                <td text-align="left">
                  <textarea name="plan" style="border: none" placeholder="Please enter your plan (400characters)" rows="10" cols="40"><%= adventure.plan%><</textarea>
                </td>
              </tr>
          </table>
          <hr border-width="2px";>
          <% count +=1%>
      <%end%>
  <% else %>
      <p>No Data found</p>
      <a href="/adventures/index" class="btn btn-default">Create your Own</a>
  <%end%>
</div>