<div class="planresult">
  <% if (!@adventures.empty?) %>
      <% count=1%>
      <table align="center" width="800">
        <tr>
          <th>Plan</th>
          <th>Location</th>
          <th>People</th>
          <th>Day</th>
          <th>Show Detail</th>
        </tr>
        <% @adventures.each do |adventure| %>
            <tr>
              <form method="post">
                <input type="hidden" name="location" value="<%= adventure.location%>"/>
                <input type="hidden" name="num_people" value="<%= adventure.num_people%>"/>
                <input type="hidden" name="num_day" value="<%= adventure.num_day%>" />
                <input type="hidden" name="plan" value="<%= adventure.plan%>" />
                <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
              </form>
              <td><%= count%></td>
              <td text-align="left"><%= adventure.location%></td>
              <td text-align="left"><%= adventure.num_people%></td>
              <td text-align="left"><%= adventure.num_day%></td>
              <td text-align="left"><button onclick="show_detail(this)" class="btn btn-xs btn-primary">More</button></td>
              <% count +=1%>
            </tr>
        <%end%>
      </table>
<% else %>
      <div align="center">
        <p>No Data found</p>
        <a href="/adventures/index" class="btn btn-default">Create your Own</a>
      </div>
  <%end%>
</div>

<script>
    function show_detail(show_button) {
        var form = $(show_button).parent().parent().find("form");
        form.attr('action', "/adventures/show_detail");
        form.attr('method', "get");
        form.submit();
    }
</script>
