<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
    <title>EasyGo!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <style>
        .search_user {
            padding-top: 1cm;
            text-align: center;
        }

        .results {
            padding-top: 1cm;
            text-align: center;
        }

        .planform {
            padding-top: 1cm;
            align: center;
        }

        .planform td {
            padding:10px 15px 0 15px;
        }

        .planresult {
            padding-top: 1cm;
            text-align: left;
        }

        .planresult td {
            padding:10px 15px 0 15px;
        }

        .body-padding {
            padding-top: 30px;
        }

    </style>
  </head>

  <body>
<<<<<<< HEAD
    <div class="container">
    <div class="nav navbar-default">   
=======
    <div class="nav navbar-default navbar-fixed-top">
        
      <div class="container">
>>>>>>> 5b6df510878ce7094d22ce549a2062438d5d8208
        <ul class="pull-left">
          
          <li><a href="/home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>|
          <li><a href="/adventures/index"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> My adventure</a></li>|
          <li><a href="/friends"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> find friends</a></li>|
          <li><a href="/notification"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> message</a></li>
      
        </ul>

        <ul class="pull-right">
        <% if user_signed_in? %>
          Hello <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
         </ul>
    </div>

<<<<<<< HEAD
    <div class="body-content">
  	<%= yield %>
  </div>
  </div>
=======
    <div class="body-padding">
    <%= yield %>
>>>>>>> 5b6df510878ce7094d22ce549a2062438d5d8208
</body>
</html>

